
/ End Header Area
%section.banner-area.relative
  .container
    .row.fullscreen.align-items-center.justify-content-center
      .section-top-border
        %h3.mb-30 Listados de integrantes
        .progress-table-wrap
          .progress-table
            .table-head
              .serial #
              .country Nombre
              .visit
              .percentage
            .table-row
              .serial 01
              .country Juanka
              .visit
                %a{:href => "#elimina"} Eliminar
              .percentage
                %a{:href => "#editar"} Editar
/ Start Conatct- Area
%section.contact-area.pt-100.pb-100.relative
  .overlay.overlay-bg
  .container
    .row.justify-content-center.text-center
      .single-contact.col-lg-6.col-md-8
        %h2.text-white
          Agregar
          %span Nuevos Integrante
        %p.text-white
          Productos involucrados en el asadazo.
    %form#myForm.contact-form{:action => "mail.php", :method => "post"}
      .row.justify-content-center
        .col-lg-5
          %input.common-input.mt-20{:name => "fname", :onblur => "this.placeholder = 'Enter your name'", :onfocus => "this.placeholder = ''", :placeholder => "Ingrese nombre de producto", :required => "", :type => "text"}/
        .col-lg-10.d-flex.justify-content-end
          %button.primary-btn.white-bg.d-inline-flex.align-items-center.mt-20
            %span.mr-10 Agregar
            %span.lnr.lnr-arrow-right
          %br/
        .alert-msg


