%section.banner-area.relative
  .container
    .row.fullscreen.align-items-center.justify-content-center
      .section-top-border
        %h3.mb-30 Listados de productos
        %table.table
          %thead
            %tr
              %th.text-center #
              %th.text-center Producto
            - n = 0
            - @productos.each do |producto|
              %tr
                %td 
                  = n+=1
                %td 
                  = producto.nombre
                %td
                  %a{:href => "/producto/delete/#{producto.id}"} Eliminar
                  %a{:href => "/producto/update/#{producto.id}"} Actualizar
/ Start Conatct- Area
%section.contact-area.pt-100.pb-100.relative
  .overlay.overlay-bg
  .container
    .row.justify-content-center.text-center
      .single-contact.col-lg-6.col-md-8
        %h2.text-white
          Agregar
          %span Nuevos productos
        %p.text-white
          Productos involucrados en el asadazo.
    %form.contact-form{:action => '/producto/create', :method => 'POST'}
      .row.justify-content-center
        .col-lg-5
          %input.common-input.mt-20{:name => "nombre", :onblur => "this.placeholder = 'Enter your name'", :onfocus => "this.placeholder = ''", :placeholder => "Ingrese nombre de producto", :required => "", :type => "text"}/
        .col-lg-10.d-flex.justify-content-end
        %button.primary-btn.white-bg.d-inline-flex.align-items-center.mt-20{:type => 'submit'}
          %span.mr-10 Siguiente
          %span.lnr.lnr-arrow-right
        %br/
        .alert-msg
/ End Conatct- Area
